body{
    margin: 0;
    padding: 0;
    background-image: url('../Assets/Images/thai_ocean.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    color:  whitesmoke;
    height: 100%;
}

.overlay{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: 
        'sidebar header header'
        'sidebar . text_overlay'
        'sidebar footer footer'
    ;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebar{
    grid-area: sidebar;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100vh;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;

    nav{
        width: fit-content;
    }

    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        width: 500px;
    }

    li a{
        text-decoration: none;
        color: whitesmoke;
    }

    li a:hover{
        color: #0faafb;
    }

    li a.active{
        color: #0faafb;
    }
}

.text-overlay{
    grid-area: text_overlay;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.footer{
    grid-area: footer;
}

span{
    width: fit-content;
}

#welcome-text{
    font-weight: 600;
    font-size: 2.5rem;
}

#name{
    font-weight: bolder;
    font-size: 5.5rem;
}

#description{
    font-weight: lighter;
    font-size: 1.5rem;
}

#logo{
    background-image: url('../Assets/Images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    margin-top: 8px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.fa.fa-facebook, .fa.fa-pinterest-p, .fa.fa-instagram{
    width: 2rem;
    height: 2rem;
    background-color: #0cabfc;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.actions{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 250px;
    height: 2rem;
}

.language-dd{
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
}

.flag{
    background-image: url('../Assets/Images/united-kingdom.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.3rem;
    height: 1.3rem;
}

#login-btn{
    width: 4.5rem;
    height: inherit;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
    font-weight: 600;
	cursor: pointer;
	outline: inherit;
}

#signUp-btn{
    width: 4.5rem;
    height: inherit;
    background-color: whitesmoke;
	color: #147bc6;
	border: none;
	padding: 0;
	font: inherit;
    font-weight: 600;
    font-size: 1rem;
	cursor: pointer;
	outline: inherit;
    border-radius: 0.3rem;
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.fa.fa-question-circle.fa-2x{
    height: fit-content;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 31rem;
    height: 40rem;
    top: 14rem;
    left: 6rem;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: -10px 10px 10rem rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    nav{
        width: 100%;
        height: 6rem;
    }

    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    li{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        color: #b3b3b3;
    }

    li a{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid #e8e8e8;
        font-weight: 500;
    }

    li a:hover{
        color: #0faafb;
        border-bottom: 1px solid #0faafb;
    }

    li a.active{
        color: #0faafb;
        border-bottom: 1px solid #0faafb;
    }
}


.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'destination destination'
        'checkIn checkOut'
        'adults children'
        'room .'
    ;
    grid-gap: 10px;
    height: fit-content;
    width: 26rem;

    p{
        color: #b2b2b2;
        font-size: 0.9rem;
        font-weight: 600;
    }

    input{
        border: none;
        outline: none;
        border-bottom: 2px solid #f1f1f1;
        max-width: 100%;
    }

    input[type=text] {
        width: 100%;
        padding-bottom: 10px;
        padding-left: 25px;
        font-size: 1.1rem;
        font-weight: 500;
      }

    ::placeholder{
        font-weight: lighter;
    }
}

.field{
    position: relative;
    height: 5rem;
    overflow: hidden;
}

.destination{
    grid-area: destination;

    input{
        width: 100%;
    }
}

.check-in{
    grid-area: checkIn;
}

.check-out{
    grid-area: checkOut;
}

.adults{
    grid-area: adults;
}

.children{
    grid-area: children;
}

.room{
    grid-area: room;
}

.input-icon{
    position: absolute;
    top: 2.9rem;
    left: 0;
    color: #000000;
}

.form-btn{
    margin-top: 3rem;
    border: none;
    height: 3rem;
    width: 80%;
    border-radius: 10px;
    background-color: #0faafb;
    color: whitesmoke;
    cursor: pointer;
}