.info-page-elements{
    margin: 20px 15px;
    height: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.run-page-title{
    width: 100%;
    display: flex;
    justify-content: space-between;

    span{
        font-size: 1.2rem;
        font-weight: bold;
        color: gray;
    }
}

input{
    align-self: flex-end;
}

#map{
    height: 180px;
    width: 100%;
}

.lap-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 90%;
    margin-top: 2rem;
}

.lap-detail{
    height: 3rem;
    width: 100%;
    font-weight: lighter;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: lightgray;
    border-radius: 1rem;

    span{
        font-weight: 600;
        color: #000000;
    }
}

#selector{
    display: none;
}

button{
    display: none;
}

@media only screen and (min-width: 500px){
    #map{
        width: 400px;
        height: 300px;
    }

    .run-page-title{
        width: 50%;
    }

    .lap-info{
        width: 400px;
    }

    
}

@media only screen and (min-width: 900px){
    #map{
        width: 600px;
        height: 400px;
    }

    .run-page-title{
        width: 25%;
    }

    .info-page-elements{
        align-items: center;
    }

    .lap-info{
        flex-direction: row;
        justify-content: space-between;
        height: 150px;
        width: 400px;
    }

    .lap-detail{
        width: 150px;
    }


}
